{% extends 'base.html'%}
{% block content %}
<div class="row">
    <div class="col col-4">
        <img src="https://i.pinimg.com/originals/12/aa/6c/12aa6c5fbd1ade0caa6c18a641a6df1f.jpg" class="card-img-top" alt="...">
    </div>
    <div class="col col-8">

        <div class="card" style="width: 20rem;">

            <div class="d-flex">
                <div>6750 views</div>
                <div class = "ms-5">18/10/2024 </div>
                <div class = "ms-5">16:25</div>
            </div>
        <div class="card-body">
            <p class="fw-bold card-text">donkey</p>
            <p class="fw-bold card-text">$118,900</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
    </div>

    </div>
{% endblock %}

